Repository restfulhead/npm-auto-plugins, pull requests merged in 2024-03, with the labels that each got.

#18 feature: add `npm` option to allow usage of 'filter-by-workspace-path-plugin' without npm
  packages/filter-by-workspace-path/README.md
  packages/filter-by-workspace-path/src/index.ts
Labels: release-minor

#19 chore: trigger release
  .github/workflows/release.yml
  packages/filter-by-workspace-path/README.md
  packages/filter-by-workspace-path/src/index.ts
Labels: skip-release

#20 chore: add debug flag and remote tag detection
  .github/workflows/release.yml
Labels: release-internal

#21 chore: trigger release
  .github/workflows/release.yml
Labels: skip-release

#22 fix: actually use debug flag
  .github/workflows/release.yml
Labels: release-internal

#23 chore: trigger release
  .github/workflows/release.yml
Labels: skip-release

#25 chore: upgrade auto
  .github/workflows/release.yml
  package-lock.json
  package.json
Labels: release-internal

#26 chore: trigger release
  .github/workflows/release.yml
  package-lock.json
  package.json
Labels: skip-release

#27 chore: backport version bump
  package-lock.json
  packages/example-test-package/CHANGELOG.md
  packages/example-test-package/package.json
  packages/filter-by-workspace-path/CHANGELOG.md
  packages/filter-by-workspace-path/package.json
Labels: skip-release
